<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="font-size: 2em;">Menu</mat-toolbar>
        <mat-nav-list>
            <div *ngIf="isAdmin">
                <hr>
                <a mat-list-item href="/gestionUsuario">Gestión Usuarios</a>
                <hr>
                <a mat-list-item href="/gestionArticulo">Gestión Articulo</a>
                <hr>
                <a mat-list-item href="/gestionArticulo/listadoArticulo">Listado completo de Articulos</a>
                <hr>
                <a mat-list-item href="">Home</a>
                <hr>
            </div>
            <div *ngIf="isGestor">
                <hr>
                <a mat-list-item href="">Home</a>
                <hr>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span style="padding: 30px;">Recambios Víctor</span>
            <button class="btn btn-danger" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </mat-toolbar>
        <div class="container main-container">
            <router-outlet></router-outlet>
        </div>

        <!--Footer-->
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>