
<!-- <div class="cont">
    <div class="container animate__animated animate__fadeIn">
        <app-crear-articulo></app-crear-articulo>
    </div>
</div> -->

<div class="cont">
    <h1 class="display-4 text-center">Gestión de Articulos</h1>
    <br>
    <hr>
    <br>
    <div class="animate__animated animate__fadeIn">
        <div class="row">
            <div class="col-md-4">
                <app-crear-articulo></app-crear-articulo>
            </div>
            <div class="col-md-8">
                <app-lista-articulo></app-lista-articulo>
            </div>
        </div>
    </div>
</div>